.finances {
    tr {
        border: 1px solid $light-brown;
        border-style: solid none;
    }
    td {
        vertical-align: top;
        padding: 10px 10px 10px 0;
        li:last-child {
            margin-bottom: 0;
        }
    }
}
